<aside class="qs" aria-label="Quick actions" #qs>
  <nav class="qs__nav" role="navigation" #nav>
    <a class="qs__item" href="#login" aria-label="Login" matTooltip="Login" matTooltipPosition="left"><mat-icon>person</mat-icon><span>Login</span></a>
    <a class="qs__item" href="#produk" aria-label="Produk" matTooltip="Produk" matTooltipPosition="left"><mat-icon>category</mat-icon><span>Produk</span></a>
    <a class="qs__item" href="#layanan" aria-label="Layanan" matTooltip="Layanan" matTooltipPosition="left"><mat-icon>support_agent</mat-icon><span>Layanan</span></a>
    <a class="qs__item" href="#promo" aria-label="Promo" matTooltip="Promo" matTooltipPosition="left"><mat-icon>local_offer</mat-icon><span>Promo</span></a>
    <a class="qs__item" href="#webform" aria-label="Webform BCA" matTooltip="Webform BCA" matTooltipPosition="left"><mat-icon>description</mat-icon><span>Webform BCA</span></a>
    <a class="qs__item" href="#chat" aria-label="Chat" matTooltip="Chat" matTooltipPosition="left"><mat-icon>chat</mat-icon><span>Chat</span></a>
  </nav>
</aside>